.nav {
  border: 3px solid rgb(255, 0, 183);
  padding: 3px;
  max-width: 65rem;
  margin: 3rem auto;
  text-align: center;

  &__wrapper {
    padding: 2px;
    border: 3px solid black;
  }

  &__title {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
  }

  &__ul {
    list-style-type: none;
    line-height: 2;
  }

  &__li {
    font-size: 2rem;
  }

  &__link,
  &__link:visited {
    text-decoration: none;
    color: black;
  }

  &__link:hover,
  &__link:focus {
    color: rgb(255, 0, 183);
    outline: none;
  }

  &__link:hover::before,
  &__link:focus::before {
    content: '{ ';
    color: black;
    outline: none;
  }

  &__link:hover::after,
  &__link:focus::after {
    content: ' }';
    color: black;
    outline: none;
  }
}
