.directions {
  padding-top: 10px;
  text-transform: uppercase;
  text-align: center;
  opacity: 1;
  transition: opacity 2s;
  line-height: 1.2;

  @media (max-width: 475px) {
    font-size: 1.4rem;
    line-height: 1.2;
  }

  &--hidden {
    opacity: 0;
  }
}
