.matrix {
  position: relative;
  overflow: hidden;
  //margin: 0 10px;

  &__graph {
    width: 100%;
    max-width: 65vh;
    margin: 0 auto;
    background-image: url('../img/axis.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;

    &:after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
  }
}
