@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  max-width: 140rem;
  margin: 0 auto;
}

.header {
  margin: 2rem auto;
  text-align: center;

  &__title {
    font-size: 5rem;
  }

  &__subtitle {
    font-style: italic;
    font-size: 1.8rem;
  }
}

.app {
  text-align: center;
  &__unranked-fruit-holder {
    border: 1px dashed grey;
    margin: 2rem auto;
    width: 90%;
    height: 8rem;
  }
  &__plane {
    position: relative;
    //border: 2px dashed grey;
    width: 100%;
    max-width: 75vh;
    margin: 2rem auto;
    background-image: url('./img/axis.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  }

  &__plane:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  &__axis {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__submit {
  }
}

.fruit {
  &__dot {
    width: 1.5rem;
    height: 1.5rem;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  &__help-btn,
  &__tyler-btn,
  &__inspiration-btn {
    width: 15rem;
    text-align: center;
  }

  &__help-btn {
  }
  &__tyler-btn {
  }
  &__inspiration-btn {
  }
}
